.navbar-custom {
    background-color: rgb(216, 216, 216);
}

.jumbotron {
    background-color: rgb(167, 83, 83);
}

ul, li {
    list-style:none;
}
#template{
    text-align: left;
}
    
.img_container {
    display:inline-block;
    max-height: 300px;
    margin-left: auto;
    height:auto;
    overflow:hidden;
}
img {
    width: 100%;
    max-height: 300px;
    padding:0;
}
#content-block{
    padding-bottom:150px;
}
footer{
    margin-bottom:-100px;
    height: 200px;
    background-color: rgb(216, 216, 216);
}
